PORT=8686
NODE_ENV=development

CLIENT_URLS=http://localhost:8080,http://localhost:5173

MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.0-flash-001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
EMAIL_FROM=
ORDER_CONFIRM_TTL_MINUTES=10

ENABLE_TRAINING_CRON=false